{% form_theme registrationForm theme %}

{% if whyRegisterTemplate is defined and whyRegisterTemplate != "" %}
    {% include whyRegisterTemplate %}
{% endif %}
<div class="row">
    <div class="span10 offset3 form-stacked">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(registrationForm) }} method="POST" class="fos_user_registration_register">
                {% if form_errors(registrationForm) %}
                    <div class="alert-message">{{ form_errors(registrationForm) }}</div>
                {% endif %}
                <div class="clearfix">
                    {{ form_label(registrationForm.firstName) }}
                    <div class="input">
                        {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.lastName) }}
                    <div class="input">
                        {{ form_widget(registrationForm.lastName, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.organization) }}
                    <div class="input">
                        {{ form_widget(registrationForm.organization, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.county) }}
                    <div class="input">
                        {{ form_widget(registrationForm.county, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.email) }}
                    <div class="input">
                        {{ form_widget(registrationForm.email, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    <div class="input">
                        {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    <div class="input">
                        {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                {{ form_rest(registrationForm) }}

            <div class="actions">    
                <input class="btn primary large" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
        
<div class="row" style="text-align: center; font-size: 14px">
    <a href="{{ url("fos_user_security_login") }}">Login</a> |
    <a href="{{ url("fos_user_resetting_request") }}">Forgot your password?</a>
</div>            
