
  <h1>Inserted {{ insertions|length }} Items</h1>

  {% for text in insertions %}
    {{ text }}<br/>
  {% endfor %}

  <h1>Deleted {{ deletions|length }} Items</h1>

  {% for text in deletions %}
    {{ text }}<br/>
  {% endfor %}

  <h1>Updated {{ updates|length }} Items</h1>

  {% for text in updates %}
    {{ text }}<br/>
  {% endfor %}

  <h1>Found and ignored {{ duplicates|length }} Duplicates</h1>

  {% for text in duplicates %}
    {{ text }}<br/>
  {% endfor %} 
    
  {% if notFound|length > 0 %}  
      <h1>Could not find {{ notFound|length }} entries, they have been ignored</h1>

      {% for text in notFound %}
        {{ text }}<br/>
      {% endfor %}
  {% endif %}