{% extends "GJGNYAdminExtensionBundle::standard_layout.html.twig" %}

{% block breadcrumb %}
    Login
{% endblock %}

{% block content %}

<div class="login_box">
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        <input class="button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
</div>

<div style="width: 100%; text-align: center; font-size: 14px">
    <a href="{{ path("fos_user_registration_register") }}">Register</a> |
    <a href="{{ path("fos_user_resetting_request") }}">Forgot your password?</a>

</div>            


{% endblock content %}
