{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        <ul>
            {% if admin.isGranted('EDIT')%}
                <li class="sonata-action-element"><a href="{{ admin.generateUrl('edit', {'id' : admin.id(object)}) }}">{% trans from 'SonataAdminBundle' %}link_action_edit{% endtrans %}</a></li>
            {% endif %}

            {% if admin.isGranted('CREATE')%}
                <li class="sonata-action-element"><a href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a></li>
            {% endif %}

            {% if admin.isGranted('LIST')%}
                <li class="sonata-action-element"><a href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block side_menu %}{{ admin.sidemenu(action).render|raw }}{% endblock %}

{% block view %}
    <div class="sonata-ba-view">
        <h2>{{ object }}
        {% if object.LeadEvents is defined %}
            {% set firstName = object.firstName %}
            {% set lastName = object.lastName %}
            <a href="{{ admin.viewfielddescriptions['LeadEvents'].associationadmin.generateUrl('list', {'firstName' : firstName, 'lastName' : lastName }) }}" style="font-size: 18px;">
                view this Lead's events ({{ object.LeadEvents|length }}) &rarr;
            </a>
        {% endif %}
        </h2>


        {# This Lead Events table works, but takes 2 seconds, so a link will do for now #}
        {# {% if object.LeadEvents is defined and object.LeadEvents|length > 0 %}
            <table>
                <tr class="sonata-ba-view-title">
                    <td>
                        <h3>Lead Events</h3>
                    </td>
                </tr>
                <tr class="oddEvenSpacing"><td></td></tr>
                <tr class="leadEventHeading">
                    <th>Date</th>
                    <th>Description</th>
                    <th>Event Type</th>
                    <th></th>
                </tr>
                {% for event in object.LeadEvents %}
                    <tr>
                        <td>{{ event.date|date("F j, Y") }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.eventType }}</td>
                        <td>
                            <a href="{{ admin.viewfielddescriptions['LeadEvents'].associationadmin.generateUrl('view', {'id': admin.id(event)}) }}" class="view_link" title="{% trans from 'SonataAdminBundle' %}action_view{% endtrans %}">
                                <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{% trans from 'SonataAdminBundle' %}action_view{% endtrans %}" />
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %} #}

        {% for name, view_group in admin.viewgroups %}
            <table>
                {% if name %}
                    <tr class="sonata-ba-view-title">
                        <td colspan="2">
                            <h3>{{ name|trans({}, admin.translationdomain) }}</h3>
                        </td>
                    </tr>
                {% endif %}

                {% for field_name in view_group.fields %}
                    {% if admin.viewfielddescriptions[field_name].options['parentField'] != '' %}
                       <tr><th>{{ admin.viewfielddescriptions[field_name].options['parentField'] }}</th><td></td></tr> 
                    {% endif %}

                    <tr class="sonata-ba-view-container">
                       {# not sure why we need this if, trying to cut down on ifs for performance #}
                       {# {% if admin.viewfielddescriptions[field_name] is defined %} #}
                            {{ admin.viewfielddescriptions[field_name]|render_view_element(object) }}
                       {# {% endif %} #}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}

        

    </div>
{% endblock %}

